################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/BulletJump/.vs
/BulletJump/BulletJumpLibrary/obj/Debug/net8.0/BulletJumpLibrary.AssemblyInfoInputs.cache
/BulletJump/BulletJumpLibrary/obj/Debug/net8.0/BulletJumpLibrary.AssemblyInfo.cs
/BulletJump/BulletJump/bin/Debug/net8.0
/BulletJump/BulletJump/Content/bin/DesktopGL
/BulletJump/BulletJump/Content/obj/DesktopGL
/BulletJump/BulletJump/Content/obj/Windows
/BulletJump/BulletJump/obj/Debug/net8.0/ref
/BulletJump/BulletJump/obj/Debug/net8.0/refint
/BulletJump/BulletJump/obj/Debug/net8.0/apphost.exe
/BulletJump/BulletJump/obj/Debug/net8.0/BulletJump.AssemblyInfo.cs
/BulletJump/BulletJump/obj/Debug/net8.0/BulletJump.AssemblyInfoInputs.cache
/BulletJump/BulletJump/obj/Debug/net8.0/BulletJump.csproj.AssemblyReference.cache
/BulletJump/BulletJump/obj/Debug/net8.0/BulletJump.csproj.BuildWithSkipAnalyzers
/BulletJump/BulletJump/obj/Debug/net8.0/BulletJump.csproj.CoreCompileInputs.cache
/BulletJump/BulletJump/obj/Debug/net8.0/BulletJump.csproj.FileListAbsolute.txt
/BulletJump/BulletJump/obj/Debug/net8.0/BulletJump.csproj.Up2Date
/BulletJump/BulletJump/obj/Debug/net8.0/BulletJump.dll
/BulletJump/BulletJump/obj/Debug/net8.0/BulletJump.genruntimeconfig.cache
/BulletJump/BulletJump/obj/Debug/net8.0/BulletJump.pdb
/BulletJump/BulletJump/obj/Debug/net8.0/BulletJump.sourcelink.json
/BulletJump/BulletJumpLibrary/bin/Debug/net8.0
/BulletJump/BulletJumpLibrary/obj/Debug/net8.0/ref
/BulletJump/BulletJumpLibrary/obj/Debug/net8.0/refint
/BulletJump/BulletJumpLibrary/obj/Debug/net8.0
*.txt
