################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/BulletJump/.vs
/BulletJump/BulletJumpLibrary/obj/Debug/net8.0/BulletJumpLibrary.AssemblyInfoInputs.cache
/BulletJump/BulletJumpLibrary/obj/Debug/net8.0/BulletJumpLibrary.AssemblyInfo.cs
